<h1>Index</h1>

<%= link_to "log out", destroy_user_session_path, method: :delete %>







<% @photos.each do |photo| %>
 <p><%= photo.title %></p>
 <p><%= photo.description%></p>

 <img width="300" height="200" src="https://www.petfinder.com/wp-content/uploads/2012/11/99233806-bringing-home-new-cat-632x475.jpg" />

 
<% end %>
